In [23]:
import numpy as np
import pandas as pd
import seaborn as sns

import warnings
warnings.simplefilter("ignore", category=FutureWarning)

In [4]:
df = sns.load_dataset('tips')

## Normal group by

In [6]:
df.groupby('time')['total_bill'].mean()

C:\Users\deepa\AppData\Local\Temp\ipykernel_26740\1690409114.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('time')['total_bill'].mean()

time
Lunch     17.168676
Dinner    20.797159
Name: total_bill, dtype: float64

In [8]:
df.groupby('time')['total_bill'].mean().to_frame('avg_bill')

C:\Users\deepa\AppData\Local\Temp\ipykernel_26740\1771128690.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('time')['total_bill'].mean().to_frame('avg_bill')

         avg_bill
time
Lunch   17.168676
Dinner  20.797159

In [9]:
#sort values
df.groupby('time')['total_bill'].mean().to_frame('avg_bill').reset_index().sort_values('avg_bill', ascending=False)

C:\Users\deepa\AppData\Local\Temp\ipykernel_26740\712545840.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('time')['total_bill'].mean().to_frame('avg_bill').reset_index().sort_values('avg_bill', ascending=False)

     time   avg_bill
1  Dinner  20.797159
0   Lunch  17.168676

In [10]:
avgbill = df.groupby('time')['total_bill'].mean().to_frame('avg_bill').reset_index().sort_values('avg_bill', ascending=False)

C:\Users\deepa\AppData\Local\Temp\ipykernel_26740\1466198953.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  avgbill = df.groupby('time')['total_bill'].mean().to_frame('avg_bill').reset_index().sort_values('avg_bill', ascending=False)

In [12]:
df.groupby('time')['total_bill'].count()

C:\Users\deepa\AppData\Local\Temp\ipykernel_26740\1986928425.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('time')['total_bill'].count()

time
Lunch      68
Dinner    176
Name: total_bill, dtype: int64

In [13]:
df.groupby('time')['total_bill'].size()

C:\Users\deepa\AppData\Local\Temp\ipykernel_26740\2521267141.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('time')['total_bill'].size()

time
Lunch      68
Dinner    176
Name: total_bill, dtype: int64

In [14]:
df.groupby('time')['total_bill'].max()

C:\Users\deepa\AppData\Local\Temp\ipykernel_26740\2011320423.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('time')['total_bill'].max()

time
Lunch     43.11
Dinner    50.81
Name: total_bill, dtype: float64

In [15]:
df.groupby('time')['total_bill'].min()

C:\Users\deepa\AppData\Local\Temp\ipykernel_26740\2885977980.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('time')['total_bill'].min()

time
Lunch     7.51
Dinner    3.07
Name: total_bill, dtype: float64

In [16]:
df.groupby('day')['tip'].mean()df.groupby('day')['tip'].mean()

C:\Users\deepa\AppData\Local\Temp\ipykernel_26740\3868659607.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('time')['total_bill'].sum()

time
Lunch     1167.47
Dinner    3660.30
Name: total_bill, dtype: float64

## Question -> Find the AVG Tip for each night of the week

In [17]:
df.groupby('day')['tip'].mean()

C:\Users\deepa\AppData\Local\Temp\ipykernel_26740\4148581069.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('day')['tip'].mean()

day
Thur    2.771452
Fri     2.734737
Sat     2.993103
Sun     3.255132
Name: tip, dtype: float64

## Question -> Find the max tip fir each sex

In [26]:
df.groupby('sex')['tip'].max()

sex
Male      10.0
Female     6.5
Name: tip, dtype: float64

## Question -> Top 10% of tips each night

In [25]:
df.groupby('day')['tip'].quantile(.9)

day
Thur    4.920
Fri     4.060
Sat     4.802
Sun     5.035
Name: tip, dtype: float64

In [20]:
## Multiple calculations using "agg"

In [24]:
df.groupby('time')['total_bill'].agg(['min', 'max'])

         min    max
time
Lunch   7.51  43.11
Dinner  3.07  50.81

In [28]:
df.groupby('time')['total_bill'].agg(minimum='min', median=np.median, maximum='max')

        minimum  median  maximum
time
Lunch      7.51  15.965    43.11
Dinner     3.07  18.390    50.81

In [30]:
df.groupby('time')['total_bill'].agg(['min',np.median, 'max']).rename(columns={'min':'minimum', 'max':'maximum'})

        minimum  median  maximum
time
Lunch      7.51  15.965    43.11
Dinner     3.07  18.390    50.81

In [31]:
df.groupby('time')['total_bill'].describe()

        count       mean       std   min      25%     50%      75%    max
time
Lunch    68.0  17.168676  7.713882  7.51  12.2350  15.965  19.5325  43.11
Dinner  176.0  20.797159  9.142029  3.07  14.4375  18.390  25.2825  50.81

## Two calculated columns

In [34]:
df.groupby('time')[['tip','total_bill']].mean()

             tip  total_bill
time
Lunch   2.728088   17.168676
Dinner  3.102670   20.797159

## Two groupby columns

In [37]:
df.groupby(['time', 'day'])[['total_bill']].mean()

             total_bill
time   day
Lunch  Thur   17.664754
       Fri    12.845714
       Sat          NaN
       Sun          NaN
Dinner Thur   18.780000
       Fri    19.663333
       Sat    20.441379
       Sun    21.410000

In [38]:
# order matterns in group by
df.groupby(['day', 'time'])[['total_bill']].mean()

             total_bill
day  time
Thur Lunch    17.664754
     Dinner   18.780000
Fri  Lunch    12.845714
     Dinner   19.663333
Sat  Lunch          NaN
     Dinner   20.441379
Sun  Lunch          NaN
     Dinner   21.410000

In [39]:
df.groupby(['day', 'time'])[['tip','total_bill']].mean()

                  tip  total_bill
day  time
Thur Lunch   2.767705   17.664754
     Dinner  3.000000   18.780000
Fri  Lunch   2.382857   12.845714
     Dinner  2.940000   19.663333
Sat  Lunch        NaN         NaN
     Dinner  2.993103   20.441379
Sun  Lunch        NaN         NaN
     Dinner  3.255132   21.410000

In [41]:
df.groupby(['day', 'time'])[['tip','total_bill']].mean().fillna(0)

                  tip  total_bill
day  time
Thur Lunch   2.767705   17.664754
     Dinner  3.000000   18.780000
Fri  Lunch   2.382857   12.845714
     Dinner  2.940000   19.663333
Sat  Lunch   0.000000    0.000000
     Dinner  2.993103   20.441379
Sun  Lunch   0.000000    0.000000
     Dinner  3.255132   21.410000

## Using transform

In [42]:
dftransform = sns.load_dataset('tips')

In [44]:
dftransform['medianbill']=df.groupby(['time'])[['total_bill']].transform('median')

In [45]:
dftransform.sample(5)

     total_bill   tip     sex smoker   day    time  size  medianbill
164       17.51  3.00  Female    Yes   Sun  Dinner     2      18.390
227       20.45  3.00    Male     No   Sat  Dinner     4      18.390
235       10.07  1.25    Male     No   Sat  Dinner     2      18.390
148        9.78  1.73    Male     No  Thur   Lunch     2      15.965
149        7.51  2.00    Male     No  Thur   Lunch     2      15.965

In [47]:
dftransform.query('total_bill>medianbill')

     total_bill   tip     sex smoker   day    time  size  medianbill
2         21.01  3.50    Male     No   Sun  Dinner     3       18.39
3         23.68  3.31    Male     No   Sun  Dinner     2       18.39
4         24.59  3.61  Female     No   Sun  Dinner     4       18.39
5         25.29  4.71    Male     No   Sun  Dinner     4       18.39
7         26.88  3.12    Male     No   Sun  Dinner     4       18.39
..          ...   ...     ...    ...   ...     ...   ...         ...
238       35.83  4.67  Female     No   Sat  Dinner     3       18.39
239       29.03  5.92    Male     No   Sat  Dinner     3       18.39
240       27.18  2.00  Female    Yes   Sat  Dinner     2       18.39
241       22.67  2.00    Male    Yes   Sat  Dinner     2       18.39
243       18.78  3.00  Female     No  Thur  Dinner     2       18.39

[122 rows x 8 columns]

## Using lambda function

In [48]:
dftransform['zscore']=df.groupby(['time'])[['total_bill']].transform(lambda x : (x - x.mean())/x.std())

In [50]:
dftransform.sample(10)

     total_bill   tip     sex smoker   day    time  size  medianbill    zscore
142       41.19  5.00    Male     No  Thur   Lunch     5      15.965  3.114038
105       15.36  1.64    Male    Yes   Sat  Dinner     2      18.390 -0.594743
93        16.32  4.30  Female    Yes   Fri  Dinner     2      18.390 -0.489734
67         3.07  1.00  Female    Yes   Sat  Dinner     1      18.390 -1.939084
153       24.55  2.00    Male     No   Sun  Dinner     4      18.390  0.410504
36        16.31  2.00    Male     No   Sat  Dinner     3      18.390 -0.490827
90        28.97  3.00    Male    Yes   Fri  Dinner     2      18.390  0.893985
228       13.28  2.72    Male     No   Sat  Dinner     2      18.390 -0.822264
238       35.83  4.67  Female     No   Sat  Dinner     3      18.390  1.644366
164       17.51  3.00  Female    Yes   Sun  Dinner     2      18.390 -0.359566